body {
  background-color: #c6c5b9;
  padding-left: 0;
}
.navigation-box {
  background-color: rgba(253, 253, 255, 0.8);
  height: auto;
  display: block;
  height: fit-content;
  width: 100%;
  margin: 0;
  text-align: center;
  position: fixed;
  z-index: 2000;
}
.navigation-box__button{
  height: 70px;
  display: inline-block;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  text-align: center;
}

.main{
  max-width: 1000px;
  margin:0;
}
.box1{
  display: inline-block;
  width: 80%;
}
.banner {

background-color: rgba(253, 253, 255, 0.8);
width: 100%;
text-align: center;
padding-left: ;
position: absolute;
top: 110px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #393D3F;

}
.banner__header{
  width:1000px;
  margin: 0;

}

.banner__header--text{
  position: relative;
  margin: 0;
}

.footer {
position: fixed;
display: inline-block;
width:100%;
bottom: 0;
background-color: rgba(253, 253, 255, 0.4);
text-align: center;
}


.article{
  max-width: 1000px;
  background-color: darkgray;
  position: fixed;
  top: 400px;
  margin: 0;
}
.article__category{
  width:1000px;
  height: 50px;
  display: inline-block;
  margin: 0px;
  position: center;
  text-align: center;
}
